<body>
    <div class="container-products">
      <div class="buscar">
        <h1>
          buscar
        </h1>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nombre del Producto</th>
                <th scope="col">Nombre del proveedor</th>
                <th scope="col">Stock</th>
                <th scope="col">enviar a sucursal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
    
              </tr>
              <tr>
                <th scope="row">2</th>
    
              </tr>
              <tr>
                <th scope="row">3</th>
    
    
              </tr>
            </tbody>
          </table>
    </div>
    </body>