.Login-form-container{
    width: 30%;
    padding-left: 70px;
    padding-top: 150px;
}

.Login-ima-container{
    background-color: red;
    position: absolute;
    top: 0px; 
    right: 0;
    width: 60%;
    height: 100vh;
}  
.logo{
    width: 300px;
    position: absolute;
    top: 150px;
    right: 150px;

    
}